{% extends template %}

{% set title = "Add Event"|trans %}

{% block content %}

    {#    HEADER#}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <i class="fa fa-calendar"></i>
                {% trans %} Add Event {% endtrans %}
            </h1>
        </div>
    </div>

    {#    BREADCRUMBS#}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li>
                    <a data-pjax href="{{ urlFor('admin.event.index') }}">
                        <i class="fa fa-calendar"></i> 
                        {% trans %} Event {% endtrans %}
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i>
                    {% trans %} Add New {% endtrans %}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form data-pjax action="{{ urlFor('admin.event.create') }}"
                  class="form form-horizontal" method="post">

                {#                LANGUAGE#}
                <div class="form-group">
                    <label for="select-language" class="control-label col-sm-2">
                        {% trans %} Language {% endtrans %}
                    </label>
                    <div class="col-sm-3">
                        {{
                            html.select(languages, input['language'] , {
                                name: 'language',
                                class: 'form-control',
                                id: 'select-language'
                            })
                        }}
                    </div>
                </div>

                {#                DATE#}
                <div class="form-group {% if error.start or error.end %} has-error {% endif %}">
                    <label for="input-start" class="control-label col-sm-2">
                        {% trans %} Date {% endtrans %}
                    </label>
                    <div class="col-sm-7">
                        <div class="input-daterange input-group" id="input-date">
                            <input type="text" name="start" id="input-start" value="{{ input['start'] }}"
                                   class="form-control" placeholder="{% trans %} Start {% endtrans %}"/>
                            <span class="input-group-addon">{% trans %} to {% endtrans %}</span>
                            <input type="text" name="end" id="input-end" class="form-control"
                                   value="{{ input['end'] }}"
                                   placeholder="{% trans %} End {% endtrans %}"/>
                        </div>
                        {{ html.error(error.start|default(error.end)) }}
                    </div>
                </div>

                {#                TITLE#}
                <div class="form-group {% if error.title %} has-error {% endif %}">
                    <label for="input-title" class="control-label col-sm-2">
                        {% trans %} Title {% endtrans %}
                    </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="input-title" 
                               value="{{ input['title'] }}" name="title" />
                        {{ html.error(error.title) }}
                    </div>
                </div>

                {#                DESCRIPTION#}
                <div class="form-group">
                    <label for="input-description" class="control-label col-sm-2">
                        {% trans %} Description {% endtrans %}
                    </label>
                    <div class="col-sm-10">
                        <textarea name="description" id="input-description" cols="30" 
                                  rows="10" class="form-control">{{ input['description'] }}</textarea>
                    </div>
                </div>

                {#                    RELATED ARTICLES#}
                <div class="form-group">
                    <label for="select-related-articles" class="control-label col-sm-2">
                        {% trans %} Related Articles {% endtrans %}
                    </label>
                    <div class="col-sm-10">
                        <select name="relatedArticles[]" id="select-related-articles" multiple class="form-control">
                            {% for article in articles %}
                                <option value="{{ article.id }}" {% if article.id in input['relatedArticles'] %} selected {% endif %}>
                                    {{ article.i18n.first.title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {#                SUBMIT#}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" 
                                   value="Submit" />
                            <a data-pjax href="{{ urlFor('admin.article.index') }}" 
                               class="btn btn-default">
                                {% trans %} Cancel {% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#select-related-articles').chosen();
        $('#input-description').summernote({height: 350});
        $('#input-date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
    </script>
{% endblock %}