{% extends template %}

{% set title = "Translate Event"|trans %}

{% block content %}

    {#    HEADER#}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <i class="fa fa-language"></i>
                {% trans %} Translate Event {% endtrans %}
            </h1>
        </div>
    </div>

    {#    BREADCRUMBS#}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li>
                    <a data-pjax href="{{ urlFor('admin.event.index') }}">
                        <i class="fa fa-calendar"></i> 
                        {% trans %} Event {% endtrans %}
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-language"></i>
                    {% trans %} translate {% endtrans %}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <form data-pjax action="{{ urlFor('admin.event.translate', {id: event.id, language: i18n.language|default(language)}) }}"
                  class="form form-horizontal" method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2">Original</label>
                    <div class="col-sm-10">
                        <div class="panel-group" id="translations" style="margin-bottom: 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="translations" href="#collpase1">
                                            {{ event.detail.title }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collpase1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ event.detail.description|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="select-language" class="control-label col-sm-2">
                        {% trans %} Language {% endtrans %}
                    </label>
                    <div class="col-sm-7">
                        <p class="form-control-static">
                            {{ translations[i18n.language]|default(translations[language]) }}
                        </p>
                    </div>
                </div>

                {#                TITLE#}
                <div class="form-group {% if error.title %} has-error {% endif %}">
                    <label for="input-title" class="control-label col-sm-2">
                        {% trans %} Title {% endtrans %}
                    </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="input-title" 
                               value="{{ input['title']|default(i18n.title) }}" name="title" />
                        {{ html.error(error.title) }}
                    </div>
                </div>

                {#                DESCRIPTION#}
                <div class="form-group {% if error.description %} has-error {% endif %}">
                    <label for="input-description" class="control-label col-sm-2">
                        {% trans %} Description {% endtrans %}
                    </label>
                    <div class="col-sm-10">
                        <textarea name="description" id="input-description" cols="30" 
                                  rows="10" class="form-control">{{ input['description']|default(i18n.description) }}</textarea>
                        {{ html.error(error.description) }}
                    </div>
                </div>

                {#                SUBMIT#}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" 
                                   value="Submit" />
                            <a data-pjax href="{{ urlFor('admin.event.index') }}" 
                               class="btn btn-default">
                                {% trans %} Cancel {% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#select-related-articles').chosen();
        $('#input-description').summernote({height: 350});
        $('#input-date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
    </script>
{% endblock %}