{% extends template %}

{% set title = "News"|trans %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1>
				<i class="fa fa-edit"></i>
				{% trans %} Edit News {% endtrans %}
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>
					<a data-pjax href="{{ urlFor('admin.index') }}">
						<i class="fa fa-dashboard"></i> 
						{% trans %} Dashboard {% endtrans %}
					</a>
				</li>
				<li> 
					<a data-pjaxhref="{{ urlFor('admin.news.index') }}">
						<i class="fa fa-newspaper-o"></i> 
						{% trans %} news {% endtrans %}
					</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> 
					{% trans %} Edit News {% endtrans %}
				</li>
			</ol>
			{% include 'flash.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form data-pjax action="{{ urlFor('admin.news.edit', {id: news.id}) }}"
						class="form form-horizontal" method="post">

				{#                TITLE#}
				<div class="form-group {% if error.title %} has-error {% endif %}">
					<label for="input-title" class="control-label col-sm-2">
						{% trans %} Title {% endtrans %}
					</label>
					<div class="col-sm-8">
						<input type="text" name="title" class="form-control" 
									 id="input-title" value="{{ input.title|default(news.detail.title) }}"/>
						{{ html.error(error.title) }}
					</div>
				</div>

				{#                    CONTENT#}
				<div class="form-group {% if error.content %} has-error {% endif %}">
					<label for="input-content" class="control-label col-sm-2">
						{% trans %} Content {% endtrans %}
					</label>
					<div class="col-sm-10">
						<textarea name="content" id="input-content" cols="30" rows="10"
											class="form-control">
							{{ input.content|default(news.detail.content) }}
						</textarea>
						{{ html.error(error.content) }}
					</div>
				</div>

				{#                    STATUS#}
				<div class="form-group">
					<label for="select-status" class="control-label col-sm-2">
						{% trans %} Status {% endtrans %}
					</label>
					<div class="col-sm-2">
						{{ 
							html.select({
								(constant('STATUS_PUBLISH')): 'Publish'|trans,
								(constant('STATUS_DRAFT')): 'Draft'|trans
							}, input.status|default(news.detail.status), {
								name: 'status',
								class: 'form-control',
								id: 'select-status'
							}) 
						}}
					</div>
				</div>

				{#           FEATURED IMAGE        #}
				<div class="form-group {% if error.image %} has-error {% endif %}">
					<label for="select-image" class="control-label col-sm-2">
						{% trans %} Featured Image {% endtrans %}
					</label>
					<div class="col-sm-10">
						<img src="{{ siteUrl('images/' ~ news.featuredImage) }}" id="img-preview" class="thumbnail" style="margin-bottom: 5px;"/>
						<input type="hidden" name="image" id="input-image" />
						<div class="fileinput fileinput-exists" data-provides="fileinput">
							<div class="row">
								<div class="col-sm-4">
									<span class="btn btn-default btn-file">
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" id="select-image" accept="image/jpeg"/>
									</span>
								</div>
							</div>
						</div>
						<div class="modal" id="modal-crop">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title">Crop Image</h4>
									</div>
									<div class="modal-body">
										<img id="image-crop-preview" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" id="btn-crop-done">Finish</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						{{ html.error(error.image) }}
					</div>
				</div>

				<div class="form-group">
					<label for="select-related-articles" class="col-sm-2 control-label">
						{% trans %} Related Articles {% endtrans %}
					</label>
					<div class="col-sm-10">
						<select name="relatedArticles[]" multiple id="select-related-articles" class="form-control">
							{% for article in articles %}
								{% if article.i18n.first is not null %}
									{% set selected %}
										{% if input.relatedArticles is not empty %}
											{% if article.id in input.relatedArticles %} 
												selected
											{% endif %}>
										{% elseif news.relatedArticles.contains(article) %}
											selected
										{% endif %}
									{% endset %}
									<option value="{{ article.id }}" {{ selected }}>
										{{article.i18n.first.title}}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				{#                SUBMIT            #}
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="btn-group">
							<input type="submit" class="btn btn-primary" 
										 value="Submit" />
							<a data-pjax href="{{ urlFor('admin.news.index') }}" 
								 class="btn btn-default">
								{% trans %} Cancel {% endtrans %}
							</a>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		var jcrop_api;
		$('#input-content').summernote({height: 350});
		$('#select-related-articles').chosen();
		$('#select-image').click(function() {
			this.value = null;
			if (jcrop_api != null) {
				jcrop_api.destroy();
			}
		});

		$('#select-image').change(function(event) {
			event.stopPropagation();
			event.preventDefault();
			var file = event.target.files[0];

			if (file.type !== 'image/jpeg')
				return;

			var reader = new FileReader();
			reader.onload = function(e) {
				var image = new Image();
				var maxWidth = $(window).innerWidth();

				image.src = e.target.result;
				image.onload = function() {
					var canvas = document.createElement('canvas');
					if (image.width > maxWidth) {
						var width = canvas.width = maxWidth - 40;
						canvas.height = image.height * (width / image.height);
						$('#modal-crop .modal-dialog').css({
							width: maxWidth,
							margin: 0
						});
					} else {
						canvas.width = image.width;
						canvas.height = image.height;
						$('#modal-crop .modal-dialog').css({
							width: image.width + 40,
							marginTop: 30,
							marginLeft: 'auto',
							marginRight: 'auto'
						});
					}

					$('#modal-crop .modal-content').css('border-radius', 0);
					$('.jcrop-holder img').css('max-width', 'none');

					var ctx = canvas.getContext('2d');
					ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

					$('#image-crop-preview')
									.attr('src', canvas.toDataURL('image/jpeg'))
									.Jcrop({
										bgColor: 'black',
										bgOpacity: .6,
										setSelect: [0, 0, 320, 240],
										aspectRatio: 4 / 3
									}, function() {
										jcrop_api = this;
									});

					$('#btn-crop-done').click(function(e) {
						canvas.width = 320;
						canvas.height = 240;
						var image = $('#image-crop-preview')[0];
						var ctx = canvas.getContext('2d');
						var selection = jcrop_api.tellSelect();
						ctx.drawImage(image, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);

						var dataURL = canvas.toDataURL('image/jpeg');

						$('#img-preview').attr('src', dataURL);
						$('#input-image').val(dataURL);
						$('#modal-crop').modal('hide');
					});

					$('#modal-crop').modal('show');
				}
			};
			reader.readAsDataURL(file);
		});
	</script>
{% endblock %}