{% extends template %}

{% set title = "Create Category"|trans %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {% trans %} Add Category {% endtrans %}
                {#<small>
                    {% trans %} List, add, or edit categories {% endtrans %}
                </small>#}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li>
                    <a  data-pjax href="{{ urlFor('admin.category.index') }}">
                        <i class="fa fa-tags"></i>
                        {% trans %} Category {% endtrans %}
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i>
                    {% trans %} Add {% endtrans %}
                </li>
            </ol>
        </div>
    </div>

    <form data-pjax role="form" method="post" class="form form-horizontal" 
          action="{{ urlFor('admin.category.create') }}">
        <div class="form-group">
            <label for="select-parent" class="control-label col-sm-2">Parent</label>
            <div class="col-sm-4">
                <select name="parent" class="form-control" id="select-parent">
                    <option value="">({% trans %} None {% endtrans %})</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {% for translation in category.translations %}
                                {{ translation.name }} {% if not loop.last %} &middot; {% endif %}
                            {% endfor %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {#            INPUT IMAGE           #}
        <div class="form-group {% if error.type or error.size %} has-error {% endif %}}">
            <label for='input-image' class='control-label col-sm-2'>Image</label>
            <div class="col-sm-6">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                        <span class="btn btn-default btn-file">
                            <span class="fileinput-new">
                                {% trans %} Select image {% endtrans %}
                            </span>
                            <span class="fileinput-exists">
                                {% trans %} Change {% endtrans %}
                            </span>
                            <input type="file" name="image" />
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                            {% trans %} Remove {% endtrans %}
                        </a>
                    </div>
                    {{ html.error(error.type) }}
                    {{ html.error(error.size) }}
                </div>
            </div>
        </div>

        {% for value, text in languages %}
            <fieldset>
                <legend>{{text}}</legend>
                <div class="form-group {% if attribute(error, value).name %} has-error {% endif %}">
                    <label for="in-name-{{value}}" class="control-label col-sm-2">
                        {% trans %} Category Name {% endtrans %}
                    </label>
                    <div class="col-sm-5">
                        <input type="text" name="translations[{{value}}][name]"
                               class="form-control"
                               value="{{input.translations[value].name}}"
                               id="in-name-{{value}}" />
                        {{ html.error(attribute(error, value).name) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="in-desc-{{value}}" class="control-label col-sm-2">
                        {% trans %} Description {% endtrans %}
                    </label>
                    <div class="col-sm-5">
                        <textarea name="translations[{{value}}][description]" 
                                  class="form-control"
                                  id="in-desc-{{value}}"rows="3">{{input.translations[value].description}}</textarea>
                    </div>
                </div>
            </fieldset>
        {% endfor %}
        <div class="form-group {% if error.name %} has-error {% endif %}}">
            <div class="col-sm-5 col-sm-offset-3">
                {{ html.error(error.name) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-2">
                <div class="btn-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a data-pjax href="{{ urlFor('admin.category.index') }}" class="btn btn-default">
                        {% trans %} Cancel {% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}

{% endblock %}