<?xml version="1.0" encoding="UTF-8"?>
<datatable>
    {% for i18n in data %}
        {% set article = i18n.article %}
        <aaData>
            <id>{{ article.id }}</id>
            <toolbar>
                <![CDATA[
                <tr class="group">
                    <td colspan="5">
                        <div class="btn-toolbar">
                            {% if(article.publish or article.draft) %}
                                <div class="btn-group">
                                    <a href="javascript:_publish('{{ urlFor('admin.article.set', {id: article.id, status: constant('Article::STATUS_PUBLISH')}) }}')" 
                                       class="btn btn-sm btn-default {% if article.publish  %} disabled {% endif %}">
                                        <i class="fa fa-level-up"></i>
                                        {% trans %} Publish {% endtrans %}
                                    </a>
                                    <a href="javascript:_unpublish('{{ urlFor('admin.article.set', {id: article.id, status: constant('Article::STATUS_DRAFT')}) }}')"
                                       class="btn btn-sm btn-default {% if article.draft %} disabled {% endif %}">
                                        <i class="fa fa-level-down"></i>
                                        {% trans %} Unpublish {% endtrans %}
                                    </a>
                                </div>

                                <a data-pjax href="{{ urlFor('admin.article.translate', {id: article.id}) }}" 
                                   class="btn btn-sm btn-default {% if article.i18n.count == languages|length %} disabled {% endif %}">
                                    <i class="fa fa-language"></i>
                                    {% trans %} Add Translation {% endtrans %}
                                </a>
                            {% endif %}
                            {% if article.archive %}
                                <a href="javascript:_restore('{{ urlFor('admin.article.restore', {id: article.id}) }}')" 
                                   class="btn btn-sm btn-default">
                                    <i class="fa fa-history"></i>
                                    {% trans %} Restore {% endtrans %}
                                </a>
                                <a href="javascript:_delete('{{ urlFor('admin.article.delete', {id: article.id}) }}')" 
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-times"></i>
                                    {% trans %} Delete {% endtrans %}
                                </a>
                            {% else %}
                                <a href="javascript:_remove('{{ urlFor('admin.article.archive', {id: article.id}) }}')" 
                                   class="btn btn-sm btn-warning">
                                    <i class="fa fa-trash-o"></i>
                                    {% trans %} Remove {% endtrans %}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                ]]>
            </toolbar>
            <title>
                <![CDATA[
                <span class="label label-info">{{ i18n.language|upper }}</span>
                {% if i18n.publish %}
                    <span class="label label-success">{% trans %} Publish {% endtrans %}</span>
                {% elseif i18n.draft %}
                    <span class="label label-default">{% trans %} Draft {% endtrans %}</span>
                {% endif %}
                ]]>
                {{ i18n.title }}
            </title>
            <createdAt>
                <![CDATA[
                {{ i18n.createdAt|strftime('%A, %e %B %Y') }}
                <span class="text-muted">
                    <small>{{ i18n.createdAt|date('g:i a') }}</small>
                </span>
                <div>
                    <span class="text-muted">{% trans %} by {% endtrans %}</span>
                    {{ i18n.author.fullname|default(i18n.author.username) }}
                </div>
                ]]>
            </createdAt>
            <lastUpdate>
                {% if i18n.updatedAt %}
                    <![CDATA[
                    {{ i18n.updatedAt|strftime('%A, %e %B %Y') }}
                    <span class="text-muted"><small>{{ i18n.updatedAt|date('g:i a') }}</small></span>
                    <div>
                        <span class="text-muted">{% trans %} by {% endtrans %}</span>
                        {{ i18n.updatedBy.fullname }}
                    </div>
                    ]]>
                {% endif %}
            </lastUpdate>
            <control>
                <![CDATA[ 
                <div class="btn-group">
                    <a data-pjax href="{{ urlFor('admin.article.edit', {id: i18n.id}) }}" 
                       title="{% trans 'Edit' %}"
                       class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:_delete('{{ urlFor('admin.article.delete', {id: article.id, cid: i18n.id}) }}')" 
                       class="btn btn-default btn-danger btn-sm"
                       title="{% trans 'Delete' %}"><i class="fa fa-times"></i></a>
                </div>
                ]]>
            </control>
        </aaData>
    {% endfor %}
</datatable>