<?xml version="1.0" encoding="UTF-8"?>
<datatable>
    {% for article in data %}
        <aaData>
            <id>{{ article.id }}</id>
            <title>
                <![CDATA[
                <a href="#"><strong>{{ article.detail.title }}</strong></a>
                ]]>
            </title>
            <created>
                <![CDATA[
                <div>
                    <small>
                        {% trans %} on {% endtrans %}
                        <strong>{{ article.detail.author.createdAt|date('d/m/Y') }}</strong>
                    </small>
                </div>
                <div>
                    <small>
                        {% trans %} by {% endtrans %}
                        <strong>{{ article.detail.author.username }}</strong>
                    </small>
                </div>
                ]]>
            </created>
            <updated>
                <![CDATA[
                {% if article.detail.updatedAt is not null %}
                    <div>
                        <small>
                            {% trans %} on {% endtrans %}
                            <strong>{{ article.detail.updatedAt|date('d/m/Y') }}</strong>
                        </small>
                    </div>
                    <div>
                        <small>
                            {% trans %} by {% endtrans %}
                            <strong>{{ article.detail.updatedBy.username }}</strong>
                        </small>
                    </div>
                {% endif %}
                ]]>
            </updated>
            <views>
                <![CDATA[
                <span class="badge badge-info">{{ article.detail.stats.count }}</span>
                ]]>
            </views>
            <control>
                <![CDATA[
                <div class="btn-group">
                    {% if article.detail.publish or article.detail.draft or article.detail.pending%}
                        <a data-pjax href="{{ urlFor('admin.article.edit', {id: article.id}) }}" 
                           class="btn btn-default btn-sm" title="{% trans %} Edit {% endtrans %}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:_archive('{{ urlFor('admin.article.set', {id: article.id, status: constant('STATUS_ARCHIVE')}) }}')" 
                           class="btn btn-sm btn-warning" 
                           title="{% trans %} Move to archive {% endtrans %}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    {% elseif article.detail.archive %}
                        <a href="javascript:_restore('{{ urlFor('admin.article.set', {id:article.id, status: constant('STATUS_DRAFT')}) }}')"
                           class="btn btn-sm btn-info"
                           title="{% trans %} Restore {% endtrans %}">
                            <i class="fa fa-recycle"></i>
                        </a>
                        <a href="javascript:_delete('{{ urlFor('admin.article.delete', {id: article.id}) }}')" 
                           class="btn btn-sm btn-danger" 
                           title="{% trans %} Delete {% endtrans %}">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                </div>
                ]]>
            </control>
            <translations>
                <![CDATA[
                {% set translated = [] %}
                {% for i18n in article.detail.i18n %}
                    {% set translated = translated|merge([i18n.language]) %}
                    <tr>
                        <td>{{ translations[i18n.language]|capitalize }}</td>
                        <td>
                            <a href="#">
                                <strong>{{ i18n.title }}</strong>
                            </a>
                            <div>
                                {% if i18n.status == constant('STATUS_PUBLISH') %}
                                    <span class="label label-success">
                                        {{ i18n.status }}
                                    </span>
                                {% elseif i18n.status == constant('STATUS_DRAFT') %}
                                    <span class="label label-default">
                                        {{ i18n.status }}
                                    </span>
                                {% elseif i18n.status == constant('STATUS_PENDING') %}
                                    <span class="label label-warning">
                                        {{ i18n.status }}
                                    </span>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div>
                                <small>
                                    {% trans %} on {% endtrans %}
                                    <strong>{{ i18n.createdAt|date('d/m/Y') }}</strong>
                                </small>
                            </div>
                            <div>
                                <small>
                                    {% trans %} by {% endtrans %}
                                    <strong>{{ i18n.author.username }}</strong>
                                </small>
                            </div>
                        </td>
                        <td>
                            {% if i18n.updatedAt is not null %}
                                <div>
                                    <small>
                                        {% trans %} on {% endtrans %}
                                        <strong>{{ i18n.updatedAt|date('d/m/Y') }}</strong>
                                    </small>
                                </div>
                                <div>
                                    <small>
                                        {% trans %} by {% endtrans %}
                                        <strong>{{ i18n.updatedBy.username }}</strong>
                                    </small>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <span class="badge badge-info">
                                {{ i18n.stats.count }}
                            </span>
                        </td>
                        <td>    
                            <div class="btn-group">
                                <a data-pjax href="{{ urlFor('admin.article.translate', {id: article.id, language: i18n.language}) }}"
                                   class="btn btn-default btn-sm" title="{% trans %} Edit Translation {% endtrans %}">
                                    <i class="fa fa-language"></i>
                                </a>
                                <a href="javascript:_delete('{{ urlFor('admin.article.delete', {id: article.id, language: i18n.language}) }}')"
                                   class="btn btn-danger btn-sm"
                                   title="{% trans %} Delete Translation {% endtrans %}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                {% for key, language in translations if key not in translated %}    
                    <tr>
                        <td>{{ language }}</td>
                        <td colspan="4"></td>
                        <td>
                            <a data-pjax href="{{ urlFor('admin.article.translate', {id: article.id, language: key}) }}" 
                               class="btn btn-default" title="{% trans %} Translate {% endtrans %}">
                                <i class="fa fa-language"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                ]]>
            </translations>
        </aaData>
    {% endfor %}
</datatable>