{% extends template %}

{% set title %}
    {% trans %} Update Article  {% endtrans %}
{% endset %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>
                {% trans %} Edit Article {% endtrans %}
                <small>
                    {% trans %} 
                        Update and publish or save as draft article
                    {% endtrans %}
                </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li>
                    <a data-pjax href="{{ urlFor('admin.article.index') }}">
                        <i class="fa fa-file"></i> 
                        {% trans %} Article {% endtrans %}
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> 
                    {% trans %} Edit {% endtrans %}
                </li>
            </ol>
        </div>
    </div>

    <form data-pjax method="post" role="form" 
          class="form-horizontal" 
          action="{{ urlFor('admin.article.edit', {id: article.id}) }}">

        <div class="form-group">
            <label for="select-language" class="control-label col-sm-2">
                {% trans %} Language {% endtrans %}
            </label>
            <div class="col-sm-2">
                {{
                    html.select(languages, input['language']|default(article.language), {
                        class: 'form-control',
                        id: 'select-language',
                        disabled: true
                    })
                }}
            </div>
        </div>

        <div class="form-group {% if error.title %} has-error {% endif %}">
            <label class="control-label col-sm-2" for="title">
                {% trans %} Title {% endtrans %}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" 
                       name="title" 
                       value="{{ input['title']|default(article.title) }}" 
                       placeholder="{% trans 'Enter Title' %}"/>
                {{ html.error(error.title) }}
            </div>
        </div>
        <div class="form-group {% if error.content %} has-error {% endif %}">
            <label class="control-label col-sm-2" for="content">
                {% trans %} Content {% endtrans %}
            </label>
            <div class="col-sm-10">
                <textarea id="textarea-content" name="content" 
                          class="form-control" cols="30" rows="10" 
                          placeholder="Content">{{ input['content']|default(article.content) }}
                </textarea>
                {{ html.error(error.content) }}
            </div>
        </div>

        <div class="form-group">
            <label for="select-status" class="control-label col-sm-2">
                {% trans %} Status {% endtrans %}
            </label>
            <div class="col-sm-2">
                <select name="status" id="select-status" class="form-control">
                    {% if not _user.contributor %}
                        <option value="{{ constant('Article::STATUS_PUBLISH') }}"
                                {% if article.publish %} selected {% endif %}>
                            {% trans %} Publish {% endtrans %}
                        </option>
                    {% endif %}
                    <option value="{{ constant('Article::STATUS_PENDING') }}"
                            {% if article.pending %} selected {% endif %}>
                        {% trans %} Need Review {% endtrans %}
                    </option>
                    <option value="{{ constant('Article::STATUS_DRAFT') }}"
                            {% if article.draft %} selected {% endif %}>
                        {% trans %} Draft {% endtrans %}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="btn-group">
                    <input type="submit" class="btn btn-primary" 
                           value="Submit" />
                    <a data-pjax href="{{ urlFor('admin.article.index') }}" 
                       class="btn btn-default">
                        {% trans %} Cancel {% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#textarea-content").summernote({
                height: 350
            });
        });
    </script>
{% endblock %}