{% extends template %}

{% set title %}
    {% trans %} Translate Article {% endtrans %}
{% endset %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <i class="fa fa-language"></i>
                {% trans %} Translate {% endtrans %}
                <small>
                    {% trans %} Create translation of article {% endtrans %}
                </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li>
                    <a data-pjax href="{{ urlFor('admin.article.index') }}">
                        <i class="fa fa-file"></i> 
                        {% trans %} Article {% endtrans %}
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-language"></i> 
                    {% trans %} Translate {% endtrans %}
                </li>
            </ol>
        </div>
    </div>

    <form data-pjax method="post" role="form" 
          class="form-horizontal" action="{{ urlFor('admin.article.translate', {id: article.id, language: i18n.language}) }}">

        <div class="form-group">
            <label class="control-label col-sm-2">
                {% trans %} Language {% endtrans %}
            </label>
            <div class="col-sm-2">
                <p class="form-control-static">{{ translations[i18n.language] }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{% trans %} Original {% endtrans %}</label>
            <div class="col-sm-10">
                {#                    ORIGINAL#}
                <div class="panel-group" id="translations" style="margin-bottom: 0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="translations" href="#collpase1">
                                    {{ article.detail.title }}
                                </a>
                            </h4>
                        </div>
                        <div id="collpase1" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ article.detail.content|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group {% if error.title %} has-error {% endif %}">
            <label class="control-label col-sm-2" for="title">
                {% trans %} Title {% endtrans %}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" 
                       name="title" 
                       value="{{ input.title|default(i18n.title) }}" 
                       placeholder="{% trans 'Enter Title' %}"/>
                {{ html.error(error.title) }}
            </div>
        </div>
        <div class="form-group {% if error.content %} has-error {% endif %}">
            <label class="control-label col-sm-2" for="content">
                {% trans %} Content {% endtrans %}
            </label>
            <div class="col-sm-10">
                <textarea id="textarea-content" 
                          name="content" 
                          class="form-control" 
                          cols="30" 
                          rows="10"
                          placeholder="Content">{{ input.content|default(i18n.content) }}
                </textarea>
                {{ html.error(error.content) }}
            </div>
        </div>

        <div class="form-group">
            <label for="select-status" class="control-label col-sm-2">Status</label>
            <div class="col-sm-2">
                <select name="status" id="select-status" class="form-control">
                    {% if not _user.contributor %}
                        <option value="{{ constant('STATUS_PUBLISH') }}"
                                {% if i18n.publish %} selected {% endif %}>
                            {% trans %} Publish {% endtrans %}
                        </option>
                    {% endif %}
                    <option value="{{ constant('STATUS_PENDING') }}"
                            {% if i18n.pending %} selected {% endif %}>
                        {% trans %} Need Review {% endtrans %}
                    </option>
                    <option value="{{ constant('STATUS_DRAFT') }}"
                            {% if i18n.draft %} selected {% endif %}>
                        {% trans %} Draft {% endtrans %}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="btn-group">
                    <input type="submit" class="btn btn-primary" 
                           value="Submit" />
                    <a data-pjax href="{{ urlFor('admin.article.index') }}" 
                       class="btn btn-default">
                        {% trans %} Cancel {% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#textarea-content").summernote({
                height: 350
            });
        });
    </script>
{% endblock %}